@model THUVIENSO.Models.taikhoan_customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <!--Icon-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Main css -->
    <link href="~/css/style-acc.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title" style="color:blue">Sign up</h2>
                        @using (Html.BeginForm())
                        {
                        

                            <div class="form-group">
                                <label for="email"><i class="fas fa-user-circle"></i></label>
                                @Html.EditorFor(model => model.accountname, new { htmlAttributes = new { @class = "form-control", @placeholder = "AccountName" } })
                                @Html.ValidationMessageFor(model => model.accountname, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="fas fa-key"></i></label>
                                @Html.EditorFor(model => model.passwords, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.passwords, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="far fa-address-card"></i></label>
                                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", @placeholder = "CMND" } })
                                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                            </div>

                            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                            <div class="form-group">
                                <label for="name"><i class="fas fa-user"></i></label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ và Tên" } })
                                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name"><i class="fas fa-map-marked-alt"></i></label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.addres, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
                                    @Html.ValidationMessageFor(model => model.addres, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name"><i class="fas fa-phone"></i></label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.phonenumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                                    @Html.ValidationMessageFor(model => model.phonenumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name"><i class="fas fa-venus-mars">Giới tính</i></label>
                                <div class="col-md-10" style="margin-left:100px">
                                    <select name="sex" class="form-control">
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>

                                    @Html.ValidationMessageFor(model => model.sex, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Đăng Ký" />
                            </div>
                            <div class="form-group" style="color:red">
                                @ViewBag.message
                            </div>
                        }
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/images/signup-image.jpg" alt="sing up image"></figure>

                        <a href="Login" style="font-size:25px;text-decoration: none;" id="a_dk">Đăng Nhập</a>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>
</html>
