@model IEnumerable<THUVIENSO.Models.book>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.booktitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.authorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.booktopic.nametopic)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.booktitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.authorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booktopic.nametopic)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idbook }) |
                @Html.ActionLink("Details", "Details", new { id=item.idbook }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idbook })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
