@model IEnumerable<THUVIENSO.Models.book>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

</head>
<body>

    <table class="table table-bordered table-hover" style="text-align:center">
        <tr>
            <th>Chủ Đề</th>
            <th>Tên Sách</th>
            <th>Tên Tác Giả</th>
            <th>Ảnh</th>
            <th>Xem</th>
            <th>Giá</th>
            <th>Delete</th>
            <th>Update</th>


        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.booktopic.nametopic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.booktitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.authorname)
                </td>
                <td>
                    <img src="@Url.Content(item.img)" alt="Alternate Text" style="height:120px;width:90px" />

                </td>
                <td>
                    <a href="@Url.Content(item.DataContent)" target="_blank">Xem</a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    <a href="../Delete/@item.idbook"><i class="fas fa-trash-alt"></i></a>
                </td>
                <td>
                    <a href="../Editbook/@item.idbook"><i class="fas fa-edit"></i></a>
                </td>
            </tr>

        }

    </table>
    <div style="text-align:center;"><i class="fas fa-plus"></i> @Html.ActionLink("Thêm Sách", "InsertBook", "Admin")</div>

</body>
</html>
